@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --lvp-border-radius: 7px;
    --lvp-button-border-radius: 7px;
    --lvp-widget-border-radius: var(--lvp-border-radius);
    --lvp-card-border-radius: var(--lvp-border-radius);
    --lvp-input-border-radius: 7px;

    --lvp-font-family: 'Nunito', sans-serif;
    --lvp-font-family-2: 'Nunito', sans-serif;

    --lvp-title-font-wheight: 600;
    --lvp-title-2-font-wheight: 500;
    --lvp-title-3-font-wheight: 400;

    --lvp-title-font-size: 20px;
    --lvp-title-2-font-size: 15px;
    --lvp-title-3-font-size: 12px;

    --lvp-body-font-wheight: 400;
    --lvp-text-font-wheight: 400;

    --lvp-body-font-size: 12px;
    --lvp-text-font-size: 10px;

    --lvp-transition-duration: 0.3s;
    --lvp-transition-duration-2: 0.5s;
    --lvp-transition-duration-3: 0.7s;
    --lvp-lite-transparance: 0.100;

    --lvp-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



    --lvp-color-black: #000000;
    --lvp-color-black-hover: #272727;
    --lvp-color-gray: #b1b1b1;
    --lvp-color-gray-hover: #9d9c9c;
    --lvp-color-white: #ffffff;
    --lvp-color-white-hover: #f0f0f0;
    --lvp-color-disabled:rgb(214, 214, 214)0;
    --lvp-color-disabled-bg:rgb(214, 214, 214)0;
    --lvp-color-disabled-text:rgb(166, 166, 166)0;

    /* --lvp-color-primary: rgb(245 158 11); */
    /* --lvp-color-primary-hover: rgb(223, 147, 15); */
    /* --lvp-color-primary-lite: rgb(223, 147, 15, var(--lvp-lite-transparance)); */

    --lvp-color-primary: var(--lvp-color-black);
    --lvp-color-primary-hover: var(--lvp-color-black-hover);
    --lvp-color-primary-lite: rgb(0, 0, 0, var(--lvp-lite-transparance));

    --lvp-color-danger: rgb(255, 0, 72);
    --lvp-color-danger-hover: rgb(217, 7, 66);
    --lvp-color-danger-lite: rgba(217, 7, 66, var(--lvp-lite-transparance));

    --lvp-color-success: rgb(0, 255, 102);
    --lvp-color-success-hover: rgb(3, 222, 90);
    --lvp-color-success-lite: rgb(3, 222, 90, var(--lvp-lite-transparance));

    --lvp-color-warning: rgb(255, 255, 0);
    --lvp-color-warning-hover: rgb(217, 217, 0);
    --lvp-color-warning-lite: rgb(217, 217, 0, var(--lvp-lite-transparance));

    --lvp-color-info: rgb(0, 174, 255);
    --lvp-color-info-hover: rgb(0, 150, 219);
    --lvp-color-info-lite: rgb(0, 150, 219, var(--lvp-lite-transparance));

    --lvp-light-color-1: rgb(255, 255, 255);
    --lvp-light-color-2: rgb(232, 232, 232);
    --lvp-light-color-3: rgb(213, 213, 213);

    --lvp-dark-color-1: rgb(0, 0, 0);
    --lvp-dark-color-2: rgb(24, 24, 24);
    --lvp-dark-color-3: rgb(45, 45, 45);

}

body *{
    font-family: 'Nunito', sans-serif;
}
